@charset "UTF-8";

.pana-accordion{
	width:1300px;
/*	height:473px;*/
	position: relative;
	overflow: hidden;
/*	margin:0 auto;*/
}

.pana-accordion, .pana-accordion-wrap{
	margin-left: -1px;
	position: relative;
	width: 100%;
}
	
.pana-accordion, .pana-accordion-wrap, .pana-accordion-item{
/*border-left: 1px solid #BARBARA;*/
width: 387.38px;
height: 259.74px;
overflow: hidden;
float: left;
position: absolute;
left: 0;
top: 0;
}
	
.pana-accordion, .pana-accordion-wrap, .pana-accordion-item, .pana-accordion-mask {
width: 100%;
/*height: 100%;*/
left: 0;
top: 0;
position: absolute;
z-index: 10;	
}

.pana-accordion .pana-accordion-wrap .pana-accordion-item .pana-accordion-mask{
width:100%;
/*height:100%;*/
/*
left:0;
top:0;
*/
position:absolute;
z-index:10;
/*background-color:#000;*/
/*filter:alpha(opacity=40);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";-webkit-opacity:0.4;-khtml-opacity:0.4;-moz-opacity:0.4;-ms-opacity:0.4;-o-opacity:0.4;opacity:0.4}*/
}

.pana-accordion .pana-accordion-wrap .pana-accordion-item.active .pana-accordion-mask{
display:none}


