@charset "utf-8";


body {
font-family:Tahoma;
color: #FFFFFF;
/*background-color:#151A19;*/

/*font: 1.6rem/1.5 */
/*	Roboto, sans-serif;*/
/*  min-height: 100vh;*/
}

#wrapper{
	margin: 0 auto;
	max-width:1366px;
	background-color: #000000;
}

* {
  margin: 0;
  padding: 0;
/*
  box-sizing: border-box;
  outline: none;
*/
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

ul {
	list-style: none;
}

a {
  text-decoration: none;
}

.horizontal-logo{
	display: block;
}

.horizontal-logo img{
max-width: 100%;
  height: auto;
}

a,
button {
  color: inherit;
}

.no-transition {
  transition: none !important;
}







/* header fuck yeah */

.page-header {
	position: relative;
/*	padding-top:4%;*/
	padding-right:4%;
	padding-left:6%;
	background: #000000;
}

.page-header nav {
	padding-top:2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header .horizontal-logo,
.page-header .search span {
  display: none;
}

.page-header .vertical-logo {
  max-width:17em;
}

.page-header .top-menu-wrapper {
  color: #000000;
}

.page-header .top-menu-wrapper::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: background 0.5s;
}

.page-header .panel,
.page-header .top-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.page-header .panel1 {
  width: 100%;
  background: #ccc171;
  transition-delay: 0.3s;
}

.page-header .panel2 {
  width: calc(100% - 3rem);
  background: #ECD364;
  transition-delay: 0.1s;
}

.page-header .top-menu {
  display: flex;
  flex-direction: column;
  width: calc(100% - 6rem);
  overflow-y: auto;
  padding: 2rem;
  background: #FFFFFF;
}

.page-header .top-menu-wrapper.show-offcanvas::before {
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.page-header .top-menu-wrapper.show-offcanvas .panel,
.page-header .top-menu-wrapper.show-offcanvas .top-menu {
  transform: translate3d(0, 0, 0);
  transition-duration: 0.7s;
}

.page-header .top-menu-wrapper.show-offcanvas .panel1 {
  transition-delay: 0s;
}

.page-header .top-menu-wrapper.show-offcanvas .panel2 {
  transition-delay: 0.2s;
}

.page-header .top-menu-wrapper.show-offcanvas .top-menu {
  transition-delay: 0.4s;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 4rem 0.5rem;
}



/* menu*/

.page-header .top-menu li + li {
  margin-top: 1.5em;
}

.page-header .top-menu > li:last-child {
  margin-top: auto;
}

.page-header ul a {
  display: inline-block;
	font-weight: bold;
/*  font-size: 1.25em;*/
/*  text-transform: uppercase;*/
  transition: color 0.35s ease-out;
}

.page-header ul a:hover {
  color: #ECD364;
}


.page-header .has-dropdown i {
  display: none;
}

.page-header .sub-menu {
  padding: 1em 2em 0;
}

.page-header .top-menu .mob-block {
 display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3em;
}

.page-header .top-menu .mob-block i {
  color: #000000;
}

.page-header .socials {
  display: flex;
  margin-top: 3em;
  margin-bottom: 1em; 
}

.page-header .socials li + li {
  margin-top: 0;
}

.page-header .socials .fa-stack {
  font-size: 1.12em;
}

.page-header .socials .fab {
  font-size: 1.12em;
}




#banner{
	background-image: url("../images/sinister.png");
	background-repeat: no-repeat;
	/*	height: 450.082px;*/
	width: 90%;
	padding-top: 14%;
	padding-bottom: 14%;
	padding-left: 10%;
	margin-top: 5%;		
	background-size: contain;

}

#banner h1{
/*    padding-top: 13%;*/
/*    margin-left: 6.617%;*/
    font-size: 2.7em;
	width:36.21%;
}

#banner p{
/*	margin-left: 6.617%;*/
	font-size: 1.6em;
	text-shadow: 3px 2px 10px #000000;
	width:57.21%;
}


#self{
	margin-top: 2%;
	margin-left: 6.617%;
}

#primero{
	float:left;
	width:30%;
}

#primero img{
	width:100%;
	height:auto;
}

#training {
	width: 55.41%;
	margin-left: 34%;
	margin-top: 2%;
	padding-top: 3%;
}

#training h2{
	font-size:1.56em;
}

#training p{
	font-size:1.5em;
	margin-top:4%;
}

#izquierda{
	clear: both;
	float: left;
	margin-top: 7%;
	margin-left: 6.617%;
	width: 55.41%;
}

#izquierda h2{
	font-size:1.56em;
}

#izquierda p{
	font-size:1.5em;
	margin-top:3%;
}

#rules{
	padding-top: 6%;
}

#segundo{
	margin-top: 10.2%;
	padding-left: 65%;
	width: 27%;
}

#top{
	margin-bottom: 5%;
}

#top img, #bottom img{
	width:100%;
	height:auto;
}


#abajito{
	clear: both;
	margin-top: 7%;
}

#cuarto{
	float:left;
	margin-left:6.617%;
	width:28.40%;
}


#cuarto img {
	width:100%;
	height:auto;
}

#alert{
	width: 55.41%;
	margin-left: 38.35%;
	/*	margin-left: 34%;*/
/*	margin-top: 2%;*/
	padding-top: 3%;	
}

#alert h2{
	font-size:1.56em;
}

#alert p{
	font-size:1.5em;
	margin-top:4%;
}



#manito{
	clear: both;
	margin-left: 47.93%;
	margin-top: 10%;
	width: 5.6%;
}

#manito img{
	width:100%;
	height:auto;
}

#cost{
	margin-left: 18.42%;
	margin-top: 1.2%;
	width: 61.61%;
	text-align: center;
	font-size: 0.8em;
	text-transform: uppercase;
}

mark{
    background-color: #FFFFFF;
    padding-left: 1%;
	padding-right: 1%;
}


footer{
	clear:both;
    font-size: 0.8em;
    text-align: center;
	padding-bottom:3%;
	padding-top:3%;
}








@media screen and (min-width: 470px) {
  .page-header .panel1 {
    width: 100%;
  }
  .page-header .panel2 {
    width: calc(100% - 3rem);
  }
  .page-header .top-menu {
    width: calc(100% - 6rem);
  }
}


@media screen and (max-width:480px){
	
#banner{
	width: 90%;
	background-size: contain;
	padding-top: 8%;
}
	
#banner h1{
	width:90%;
	font-size: 1.3em;
	}


#banner p{
	width:55%;
	font-size: 1em;
	text-shadow: 3px 2px 10px #000000;
	padding-top: 2%;
}


#primero{
	width: 60%;
	margin-left: 14%;
	}	
	
	#training{
	clear: both;
	margin-left: 7%;
	width:80%;
	}

	#training h2{
	font-size:1.3em;
	}
	
	#training p{
	font-size:1em;
	margin-top:4%;
	}


#izquierda{
	width: 80%;
	margin-left: 14%;
}	
	
#izquierda h2{
	font-size:1.3em;
}

#izquierda p{
	font-size:1em;
	margin-top:4%;
}

	
#segundo{
	clear: both;
	width: 50%;
	padding-top: 10%;
	padding-left: 20%;
	}

	
	#cuarto{
	width: 50%;
	margin-left: 20%;
	}	
	
	#alert{
	clear: both;
	margin-left: 14%;
	width: 80%;
	padding-top: 6%;
	}

	#alert h2{
	font-size:1.3em;
	}
	
	#alert p{
	font-size:1em;
	margin-top:4%;
	}

	#cost{
	font-size: 0.5em;
	}
	
	footer{
	width: 70%;
	padding-top: 5%;
	padding-bottom: 4%;
	padding-left: 14%;
	}
	
	footer p{
	font-size:0.5em;
	}

}


@media screen and (min-width: 750px) {
  .page-header .top-menu {
    padding: 2rem;
  }

  .page-header ul a {
    font-size: 1.6rem;
  }

  .page-header .search-form input {
    font-size: 2.4rem;
    height: 5rem;
    line-height: 5rem;
  }
}


@media screen and (min-width: 995px) {
  .page-header {
    padding: 0 3rem;
  }

  .page-header .panel,
  .page-header .open-mobile-menu,
  .page-header .vertical-logo,
  .page-header .top-menu .mob-block,
  .page-header .top-menu > li:last-child,
  .page-header .top-menu-wrapper::before {
    display: none;
  }

  .page-header .horizontal-logo {
    display: block;
  }

  .page-header .top-menu-wrapper {
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }

  .page-header .top-menu {
    flex-direction: row;
    position: static;
    width: auto;
    background: transparent;
    transform: none;
    padding: 0;
    overflow-y: visible;
    box-shadow: none !important;
  }

  .page-header .top-menu li + li {
    margin-top: 0;
  }

  .page-header .top-menu > li:not(:nth-last-child(2)) {
    margin-right: 3rem;
  }

  .page-header .top-menu > li > a {
    padding: 3rem 0.5rem;
  }

  .page-header ul a {
    font-size: 1.3rem;
  }

  .page-header .has-dropdown i {
    display: inline-block;
  }

  .page-header .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.5rem 2rem;
    background: #ecd364;
  }

  .page-header .sub-menu li + li {
    margin-top: 1.2rem;
  }

  .page-header .sub-menu a {
    padding: 0.5rem 1rem;
    white-space: nowrap;
  }

  .page-header .has-dropdown {
    position: relative;
  }

  .page-header .has-dropdown:hover .sub-menu {
    display: block;
  }

  .page-header .search {
    display: flex;
    align-items: center;
    margin-left: 3rem;
  }
}


@media screen and (min-width: 1366px) {
  .page-header .search {
    margin-left: 5rem;
  }

  .page-header .search i {
    margin-right: 1.5rem;
  }

  .page-header .search span {
    display: block;
    font-weight: 500;
    font-size: 1.6rem;
  }
}

@media screen and (max-width:768px){

/*
	#banner{
	padding-top: 11%;
	}
*/
	
	#banner h1{
		width:100%;
		font-size:2em;
	}
	
	#banner p{
		font-size:1.25em;
	}


#training h2{
	font-size:1.25em;
}

#training p{
	font-size:1em;
}

	
#izquierda h2{
font-size:1.25em;
}

#izquierda p{
	font-size:1em;
	margin-top:3%;
}
	
#alert h2{
font-size:1.25em;
	}
	
#alert p{
	font-size:1em;
	
}

	footer p{
	font-size: 0.9em;
	}

	
}
